@using Backend.Shared.Models.Poker
@rendermode InteractiveServer

<div class="community-cards">
    @if (Cards?.Any() == true)
    {
        @foreach (var card in Cards)
        {
            <CardWrapper Card="card" GetSuitSymbol="GetSuitSymbol" />
        }
    }
</div>

@code {
    [Parameter, EditorRequired]
    public IEnumerable<CardDto> Cards { get; set; } = Enumerable.Empty<CardDto>();

    [Parameter, EditorRequired]
    public Func<SuitDto, string> GetSuitSymbol { get; set; } = _ => string.Empty;
}
